<p-card>
    <form [formGroup]="colaboradorForm">
        <p-fieldset legend="Dados do Colaborador">
            <div class="grid">
                <div class="col-12 mt-3 sm:col-2 md:col-3">
                    <span class="ui-float-label">
                        <input id="float-input-nome" type="text" pInputText autocomplete="off" formControlName="nome">
                        <label for="float-input-nome">Nome</label>
                    </span>
                    <small *ngIf="deveMostrarMensagemDeValidacao(colaboradorForm.get('nome'))" class="p-invalid"
                           style="color: red;">{{mensagemDeValidacao(colaboradorForm.get('nome'))}}</small>
                </div>
                <div class="col-12 mt-3 sm:col-4 md:col-4">
                    <span class="ui-float-label">
                        <input id="float-input-sobrenome" type="text" pInputText autocomplete="off"
                               formControlName="sobrenome">
                        <label for="float-input-sobrenome">Sobrenome</label>
                    </span>
                    <small *ngIf="deveMostrarMensagemDeValidacao(colaboradorForm.get('sobrenome'))" class="p-invalid"
                           style="color: red;">{{mensagemDeValidacao(colaboradorForm.get('sobrenome'))}}</small>
                </div>
                <div class="col-12 mt-3 sm:col-2 md:col-2">
                    <span class="ui-float-label">
                        <p-inputMask id="float-input-cpf" type="text" autocomplete="off" mask="999.999.999-99"
                                     [autoClear]="true" formControlName="cpf" [unmask]="true"></p-inputMask>
                        <label for="float-input-cpf">CPF</label>
                    </span>
                    <small *ngIf="deveMostrarMensagemDeValidacao(colaboradorForm.get('cpf'))" class="p-invalid"
                           style="color: red;">{{mensagemDeValidacao(colaboradorForm.get('cpf'))}}</small>
                </div>
                <div class="col-12 mt-3 sm:col-4 md:col-3">
                    <span class="ui-float-label">
                        <input id="float-input-email" type="text" pInputText autocomplete="off" formControlName="email">
                        <label for="float-input-email">Email</label>
                    </span>
                    <small *ngIf="deveMostrarMensagemDeValidacao(colaboradorForm.get('email'))" class="p-invalid"
                           style="color: red;">{{mensagemDeValidacao(colaboradorForm.get('email'))}}</small>
                </div>
                <div class="col-12 sm:col-2 md:col-2 mb-2 mt-5">
                    <span class="ui-float-label">
                        <p-calendar dateFormat="dd/mm/yy" [yearNavigator]="true" yearRange="1950:2022"
                                    id="float-calendar-dataNascimento"
                                    formControlName="dataNascimento"></p-calendar>
                        <label for="float-calendar-dataNascimento">Data Nascimento</label>
                    </span>
                    <small *ngIf="deveMostrarMensagemDeValidacao(colaboradorForm.get('dataNascimento'))"
                           class="p-invalid"
                           style="color: red;">{{mensagemDeValidacao(colaboradorForm.get('dataNascimento'))}}</small>
                </div>
                <div class="col-12 sm:col-2 md:col-2 mb-2 mt-5">
                    <span class="ui-float-label">
                        <p-calendar dateFormat="dd/mm/yy" [yearNavigator]="true" yearRange="1950:2022"
                                    id="float-calendar-dataAdmissao"
                                    formControlName="dataAdmissao"></p-calendar>
                        <label for="float-calendar-dataAdmissao">Data Admissão</label>
                    </span>
                    <small *ngIf="deveMostrarMensagemDeValidacao(colaboradorForm.get('dataAdmissao'))" class="p-invalid"
                           style="color: red;">{{mensagemDeValidacao(colaboradorForm.get('dataAdmissao'))}}</small>
                </div>
                <div class="col-12 sm:col-2 md:col-2 mb-2 mt-5">
                    <span class="ui-float-label">
                        <p-dropdown [options]="senioridades" placeholder="." optionLabel="nome" [showClear]="true"
                                    id="float-input-senioridade"
                                    formControlName="senioridade">
                        </p-dropdown>
                        <label for="float-input-senioridade">Senioridade</label>
                    </span>
                    <small *ngIf="deveMostrarMensagemDeValidacao(colaboradorForm.get('senioridade'))" class="p-invalid"
                           style="color: red;">{{mensagemDeValidacao(colaboradorForm.get('senioridade'))}}</small>
                </div>
            </div>
        </p-fieldset>
    </form>

    <form [formGroup]="competenciasForm" (submit)="submit()">
        <div class="grid pl-2 pr-2">
            <span class="mt-5"></span>
            <p-fieldset legend="Competências do Colaborador">
                <div class="grid mb-5 pl-2 pr-2 align-items-center">
                    <div class="col-12 sm:col-2 md:col-2 mt-3">
                        <span class="ui-float-label">
                            <p-dropdown [options]="competencias" placeholder="." optionLabel="nome" [showClear]="true"
                                        id="float-dropdown-competencia"
                                        formControlName="competencia">
                            </p-dropdown>
                            <label for="float-dropdown-competencia">Competência</label>
                        </span>
                        <small *ngIf="deveMostrarMensagemDeValidacao(competenciasForm.get('competencia'))"
                               class="p-invalid"
                               style="color: red;">{{mensagemDeValidacao(competenciasForm.get('competencia'))}}</small>
                    </div>
                    <span class="pr-1"></span>
                    <div class="col-12 sm:col-2 md:col-2 mt-3">
                        <span class="ui-float-label">
                            <p-dropdown [options]="niveis" placeholder="." [showClear]="true" id="float-dropdown-nivel"
                                        formControlName="nivel">
                            </p-dropdown>
                            <label for="float-dropdown-nivel">Nivel</label>
                        </span>
                        <small *ngIf="deveMostrarMensagemDeValidacao(competenciasForm.get('nivel'))" class="p-invalid"
                               style="color: red;">{{mensagemDeValidacao(competenciasForm.get('nivel'))}}</small>
                    </div>
                    <span class="pr-1"></span>
                    <div class="col-12 sm:col-2 md:col-2 mt-1">
                        <button type="button" icon="ui-icon-plus" pButton (click)="adicionarCompetencias()"></button>
                    </div>

                    <p-table [value]="colaboradorForm.get('competencias').value" [responsive]="true" [paginator]="true" [rows]="10" class="mt-5">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [ngStyle]="{'width': '125px'}">Competencia</th>
                                <th [ngStyle]="{'width': '125px'}">Nivel</th>
                                <th [ngStyle]="{'width': '125px'}">Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-competencia let-rowIndex="rowIndex">
                            <tr>
                                <td class="text-center">{{competencia.nome}}</td>
                                <td class="text-center">{{nivelToLabel(competencia.nivel)}}</td>
                                <td class="text-center">
                                    <button type="button" icon="ui-icon-trash" pButton class="ui-button-danger"
                                            (click)="excluirItem(rowIndex)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset>
        </div>
    </form>
</p-card>
<p-confirmDialog></p-confirmDialog>
