<form [formGroup]="competenciaForm" (submit)="submit()">
    <div class="grid mb-2 mt-3 pl-2 pr-2">
        <div class="col-6">
            <span class="ui-float-label">
                <input id="float-input" type="text" pInputText formControlName="nome" />
                <label for="float-input">Nome</label>
            </span>
        </div>
        <div class="col-6">
            <span class="ui-float-label">
                <p-dropdown [options]="categorias" optionLabel="label" [showClear]="true" formControlName="categoria">
                </p-dropdown>
                <label for="float-input">Categoria</label>
            </span>
        </div>
        <div class="col-12 mt-3">
            <span class="ui-float-label">
                <textarea pInputTextarea id="float-input" rows="12" cols="50" formControlName="descricao"></textarea>
                <label for="float-input">Descrição</label>
            </span>
        </div>
    </div>
</form>
