<form [formGroup]="competenciaForm">
    <!-- <p-dialog header="Competência" [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}"
        [baseZIndex]="10000" [draggable]="false" [resizable]="false"> -->

        <div class="grid mb-2 mt-3 pl-2 pr-2">
            <div class="col-6">
                <span class="ui-float-label">
                    <input id="float-input" type="text" pInputText formControlName="nome" />
                    <label for="float-input">Nome</label>
                </span>
            </div>
            <div class="col-6">
                <span class="ui-float-label">
                    <p-dropdown [options]="categorias" optionLabel="label" [showClear]="true" formControlName="categoria"></p-dropdown>
                    <label for="float-input">Categoria</label>
                </span>
            </div>
            <div class="col-12 mt-3">
                <span class="ui-float-label">
                    <textarea pInputTextarea id="float-input" rows="10" cols="75" formControlName="descricao"></textarea>
                    <label for="float-input">Descrição</label>
                </span>
            </div>
        </div>
        
        <!-- <p-footer>
            <div>
                <button pButton type="button" label="Salvar" icon="ui-icon-check" iconPos="left" class="p-button-secondary"></button>
                <button pButton type="button" label="Cancelar" icon="ui-icon-times" iconPos="left" class="p-button-secondary" (click)="fecharModal()"></button>
            </div>
        </p-footer> -->

    <!-- </p-dialog> -->
</form>