/* You can add global styles to this file, and also import other style files */

.ui-float-label{
    width: 100%;
    input {
        padding-bottom: 6px !important;
        width: 100%;
    }
}

body .ui-widget-overlay{
    opacity: 1 !important;
    background-color: #58575c8a !important;
}