<p-card>
    <div class="grid mb-3 mt-2 pl-2 pr-2 align-items-center">
        <h2>Lista de Turma Formação</h2>
        <span class="col"></span>
        <button pButton type="button" icon="ui-icon-plus" class="ui-button-success" iconPos="left" label="Nova Turma"
            [routerLink]="'criar'"></button>
    </div>
    <p-table [value]="turmas" [responsive]="true" [scrollable]="true" scrollHeight="250px">
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width': '120px'}">Nome</th>
                <th [ngStyle]="{'width': '120px'}">Descrição</th>
                <th [ngStyle]="{'width': '120px'}">Data Inicio</th>
                <th [ngStyle]="{'width': '120px'}">Data Termino</th>
                <th [ngStyle]="{'width': '120px'}">Status</th>
                <th [ngStyle]="{'width': '120px'}">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-turma>
            <tr>
                <td class="text-center">{{turma.nome}}</td>
                <td class="text-justify">{{turma.descricao}}</td>
                <td class="text-center">{{turma.dataInicio | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center">{{turma.dataTermino | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center">{{turma.status.nome}}</td>
                <td style="text-align:center">
                    <button pButton type="button" (click)="editarTurma(turma.id)" icon="ui-icon-pencil"
                        styleClass="rounded-button ui-button-help"></button>
                    <span class="pr-1"></span>
                    <button pButton type="button" (click)="excluirTurma(turma)" icon="ui-icon-trash"
                        class="ui-button-danger" styleClass="rounded-button ui-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<p-confirmDialog></p-confirmDialog>
